* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}
.container {
  margin: 5px 10%;
  background-color: rgba(0, 128, 128, 0.24);
  padding: 15px 15px;
  border-radius: 10px;
}
.tasks-section {
  align-items: center;
  justify-content: center;
  width: 100%;
  max-height: 80vh;
  overflow-y: scroll;
  margin-top: 8px;
}
.task {
  display: flex;
  color: white;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: teal;
  border-radius: 8px;
  padding: 5px 15px;
}
.hero-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

button {
  padding: 5px 15px;
  border: none;
  background-color: red;
  border-radius: 5px;
  color: white;
}

#taskForm {
  display: flex;
}
#submitBtn {
  background-color: rgb(13, 85, 13);
}
input {
  min-height: 15px;
  height: 3vh;
  flex-grow: 1;
  border-radius: 5px;
  margin: 1px 2px 1px 0px;
  padding: 5px 10px;
  border: none;
  outline: none;
}
input:focus {
  border: 1px solid rgb(13, 85, 13);
  outline: none;
}
